@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #49557c;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 5px;
    border: 3px solid #49557c;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #38405a;
  }
}
