---
import { Note } from "../components/Note";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Temporary notes">
  <section
    class="bg-slate-700 rounded-md p-4 md:p-8 w-full h-full md:w-10/12"
  >
    <Note client:load />
  </section>
</Layout>
